## MAC OS Files
.DS_Store

##Environment Variables and Credentials
keys.json
storeloc-keys.json

##Dependencies
node_modules/

##Local Dev Environment
.vscode/
https/
.prettierrc

##bundler ignores
dist/
.cache/